body {
	background-color:  #FFE5B4;
	background-image: url("Woman_and_cat.jpg");
	background-size: 600px 400px;
	background-repeat: no-repeat;
	background-position: center;
	margin:0px;
}

h1{
	text-align: center;
	font-family: Verdana;
	background-color: #bfca1a;
	border-color: blue;
	border-style: dotted;
	border-width: 2px;
	width: 250px;
	padding: 10px 15px;
	margin-bottom: 20px;
}

p{
	text-align: justify;
	background-color: hsl(276.9, 87.4%, 53.3%);
	font-style:italic;
	padding: 20px;
	border-color: black;
	border-width: 3px;
	border-top-style: dotted;
	border-right-style: ridge;
	border-bottom-style: double;
	border-left-style: outset;
	width: 500px;
}

span{
	font-style:italic;
	font-weight: bold;
	color: rgb(255, 165, 0);
	margin-left: 2px;
	margin-right: 5px;
}
